/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-sep-2018, 14:17:01
    Author     : vmnieva
*/
html{
    background-color: ghostwhite;
    height: 100%;
    font-family: Arial, sans-serif;
}
header{
    text-align: center;
    margin-bottom: 2%; 
    
}
h1 a{
    text-decoration: none;
    color: red;
    font-family: 'Ruslan Display', cursive;
}
nav{
    background-color: black;
    border-bottom: black thin solid;
    border-top: black thin solid;
    
}
nav, li, a{
    color: white;
}
li{
    text-align: left;
    list-style-type: none;
    background-color: black;
}
nav li a:hover {
    background-color: black;
    color: white;
}
nav li a, nav li a:hover{
    transition: all 500ms 100ms ease-in;
    text-decoration: none;

}
nav > ul > li {
    display: inline-block;
    margin: 5px 5% 0px;
}
nav ul li ul {
    display: none;
}
nav ul li:hover > ul{
    display: block;
    position: absolute;
    transition: all 500ms 100ms ease-in;
}
.vertical{
    width:150px; 
    text-align: center;
}
.vertical a {
    background-color: grey;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical a:hover {
    background-color: darkgrey;
}
p{
    text-align: justify;
    margin-left: 160px;
    margin-right: 100px;
}
.txt-pie{
    text-align: center;
}
.imagen{
    text-align: center;
}